

.activitylist {
  height: 600px;
  overflow-y: auto;
}

.activity {
  border: solid 1px black;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.laps {
  font-family: Arial, Helvetica, sans-serif;
}

.lapBar {
  width: 200px;
  height: 20px;
}

.selectedLap {
  background-color: aliceblue;
}

.activity:hover {
  background-color: aliceblue;
}

.title {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  width: 345px;
}

.activity .type {
  display: inline-block;
  height: 38px;
  width: 38px;
  border-radius: 5px;
  vertical-align: middle;
}

.run .type {
  background: url("../img/run.png") 0px 1px/38px no-repeat, orange;
}

.virtualrun .type {
  background: url("../img/run.png") 0px 1px/38px no-repeat, purple;
}

.swim .type {
  background: url("../img/swim.png") -4px 4px/40px no-repeat, cornflowerblue;
}

.workout .type {
  background: url("../img/jump.png") 0px 2px/38px no-repeat, grey;
}

.ride .type {
  background: url("../img/ride.png") 0px 2px/38px no-repeat, mediumseagreen;
}

.virtualride .type {
  background: url("../img/ride.png") 0px 2px/38px no-repeat, purple;
}

.walk .type {
  background: url("../img/walk.png") 8px 2px/22px no-repeat, darkgreen;
}

.run .type.race {
  background-color: red;
}

.fitbit {
  color: blue;
}

.manual {
  font-style: italic;
}

.weather .icon {
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: middle;
}

.weather .units {
  margin-right: 4px;
}

.weather .night {
  background: url("../img/night.svg") 0px 0px/12px no-repeat;
}

.weather .rain {
  background: url("../img/moderate_rain.png") 0px 0px/12px no-repeat;
}

.weather .rain.light {
  background: url("../img/light_rain.png") 0px 0px/12px no-repeat;
}

.weather .rain.heavy {
  background: url("../img/heavy_rain.png") -2px -3px/18px no-repeat;
}

.weather .wind {
  background: url("../img/wind.png") 0px 0px/14px no-repeat;
}

.weather .cold {
  background: url("../img/cold.png") 0px -2px/16px no-repeat;
}

.weather .hot {
  background: url("../img/hot.png") 0px 0px/14px no-repeat;
}

.activity .contents {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.detail span {
  padding-right: 8px;
}

.detail span span {
  padding-right: 0px;
}

.pace {
  font-weight: inherit;
}

.units {
  font-weight: normal;
  font-size: 12px;
}

.swim .pace .units,
.vdot .units {
  font-size: 10px;
}

.vdot .units {
  font-weight: bold;
}


.date,
.social {
  display: block;
  float: right;
  font-size: 12px;
  color: gray;
  padding-right: 2px;
  padding-top: 2px;
}

.contents,
.row1 {
  width: 450px;
}

/* Tooltip container */
.tooltip, .graphbox {
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/ /* If you want dots under the hoverable text */
}

.graphdetails {
  visibility: hidden;
  background-color: white;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  left: 10px;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 1px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  /*background-color: black;*/
  /*color: #fff;*/
  background-color: aliceblue;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  border-style: solid;
  border-color: black;
  color: black;
  border-width: 1px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltiptext {
  width: 160px;
  top: 100%;
  right: 0%;
  margin-right: -5px;
  margin-top: 7px;
  /*left: 50%;*/ 
  /*margin-left: -80px;*/ /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* ::after {
  content: " ";
  position: absolute;
  bottom: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
} */

.tooltip .tooltiptext::before {
  content: '';
  display: block;  
  position: absolute;
  left: 80px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: black;
}

.tooltip .tooltiptext::after {
  content: '';
  display: block;  
  position: absolute;
  left: 81px;
  bottom: 100%;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: aliceblue;
}

.kudos .tooltiptext::before {
  left: 135px;
}
.kudos .tooltiptext::after {
  left: 136px;
}

.comments .tooltiptext {
  width: 350px;
  text-align: left;
  padding-left: 5px;
}

.comments .tooltiptext::before {
  left: 332px;
}
.comments .tooltiptext::after {
  left: 333px;
}

.trainingload .tooltiptext,
.vdot .tooltiptext {
  width: 120px;
  font-size: 12px;
  left: 50%;
  margin-left: -60px;
}

.trainingload .tooltiptext::before,
.vdot .tooltiptext::before {
  left: 55px;
}
.trainingload .tooltiptext::after,
.vdot .tooltiptext::after {
  left: 56px;
}

.trainingload .tooltiptext table,
.vdot .tooltiptext table {
  margin-left: auto;
  margin-right: auto;
}

.vdot td.time {
  text-align: right;
}


.comments .athlete {
  font-weight: bold;
  padding-right: 10px;
}


.currentActivity,
#mapid,
#graph {
  width: 600px;
}

#mapid {
  height: 400px;
}

#graph {
  height: 150px;
}


.currentactivity,
.activities {
  display: inline-block;
  vertical-align: top;
}

.mapoption {
  color: steelblue;
  cursor: pointer;
}
.mapoption:hover {
  color: orange;
}

.mapoption:after {
  content: '|';
}

.mapoption:last-child:after {
  content: '';
}

.mapoption.selected {
  font-weight: bold;
  color: black;
  cursor: default;
}

.mapoption.disabled {
  color: gray;
  cursor: default;
}

.award {
  padding-right: 0px;
}

.award.slower:after {
  content: '⬇';
  color: red;
}

.award.faster:after {
  content: '⬆';
  color: green;
}

.award.pb.first:after {
  content: '🏆';
}

.award.pb.second:after {
  content: '★';
  color: darkgray;
}

.award.pb.third:after {
  content: '★';
  color: brown;
}

.award.sb.first:after {
  content: '①';
  color: blue;
}

.award.sb.second:after {
  content: '②';
  color: blue;
}

.award.sb.third:after {
  content: '③';
  color: blue;
}





